<h1>Application error</h1>
<p>The  <%= t "layouts.project_name.title" %> server encountered an unexpected condition that prevented it from fulfilling the request (HTTP 500)</p>
<p>This may be a problem in our Ruby On Rails code. 500 occurs with exceptions thrown outside of an action (like in Dispatcher setups or broken Ruby code)</p>
