<% content_for :heading do %>
  <div>
    <h1> <%= t ".legal_babble.title_html" %></h1>
    <hr />
  </div>
  <% end %>
  <div>
  Legal stuff, copyright and license <br />
  crediting information,  <br />
  contributors and any other data, <br />
  infringement, <br />
  trademarks <br />
  </div>

