<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<div>

<p>
  We adhere to Google's <a href="https://policies.google.com/privacy">Privacy Policy</a>.
</p>

<p>
  This page is under construction; more details soon.
</p>

<% if false %>

<p>
  We adhere to Google's <a href="https://policies.google.com/privacy">Privacy Policy</a>.
  Please read it at the given link to learn more. Some of the most frequently asked questions are answered on this page.
</p>
<h4>
  Contributions
</h4>
<p>
  When you make edits to the Rə Maps data on this website you agree that you are lawfully entitled and have full authority to license this website
  to use the information you upload and to make it publicly available.   Once you upload an edit it becomes a permanent part of the Rə Maps database -- it cannot be
  deleted.  You (or any user) can upload additional edits to delete or makes changes to data you previously uploaded, but both the original edit
  and any subsequent edits will be a permanent part of the database.
  If you delete your account, your contributions will be de-identified (that is, they’re no longer associated with your account) but they will not be deleted.
</p>
<h5>Will I get paid for my contributions?</h5>
<p>No. Rə Maps is a community effort–we rely on the goodwill of community members to help us revive the past and together build a mapping service with a time dimension, such that everybody in the world can benefit.</p>
<h5>How do you use my contributions?</h5>
<p>The contributions that you make are stored on our servers and are open sourced such that they are publicly accessible. We may use this information to generate other data (e.g. 3D models of buildings
  based on building outlines in the maps database) or serve them directly.  We may validate your contributions by automatic or manual processes. Contributions may be used to train computer algorithms.  Note that since your contributions are open sourced, we have no control on how they will be used by others.</p>
<h4>Logins</h4>
<p>
  Logins and sign ups via Google only have emails stored. This is to aid in the system identifying you correctly. The
  email address for your account will never be published anywhere or shared with third party organisations. Only administrators have direct access to email address data.
</p>
<h4>Account Removal</h4>
<p>
  You can delete your account at any time, by clicking on the "Settings" link.
  If you delete your account, your contributions will be de-identified (that is, they’re no longer associated with your account) but they will not be deleted.</p>
<h4>
  Cookies
</h4>
<p>
  Cookies are very small text files that are stored on your computer when you visit some websites.
  <br /> We use cookies to help keep a track of whether you are logged in and to aid site navigation state.
  <br /> You can disable any cookies already stored on your computer, but these may stop our website from functioning properly.
  <br /> This website will remember that you are logged in and that your session is secure. You need to be logged in to make and upload edits.
  <br /> You can also disable third party cookies to disable Google Analytics.
</p>
<h4>Google Analytics</h4>
<p>
This system may use Google Analytics so we can get statistics about how users use the website so we can improve it. IP addresses are anonymized.<br />
</p>
<h4>Other uses of your data</h4>
<h5>IP Addresses</h5>
<p>
 The IP address of each request is stored in the application and web server logs for the purpose of maintentance, security and  abuse prevention. These logs are deleted after 30 days.
</p>
<h4>
License
</h4>
<p>
The software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.
</p>

<% end %>


</div>
