.attr {
  padding: 20px 40px 20px !important;
}

.users-new,
.users-create,
.users-terms,
.users-confirm {
  .content-heading .content-inner {
    height: 70px !important;
  }
}

.app-menu-container {
  display: inline-block;
  margin: 0;
  padding: 0;
}
