/* Parameters */
$lineheight: 20px;
$typeheight: 14px;

$offwhite: #f4f4ff;
$uiRed: #ed220d;   /* was blue in older versions */
$lightblue: #f6d0a6; 
$green: #0459bf;
$grey: #CCC;
$red: red;
$lightgrey: #EEE;
$darkgrey: #888;
$hovercolor: 20%;
$headerHeight: 55px;
$sidebarWidth: 350px;
$keyline: 1px solid $lightgrey;
$border-radius: 8px;
$list-highlight: #FFFFC0;
$border: 1px solid $grey;
